includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 70200

	paths:
		- src

	excludePaths:
		- src/DI/SentryExtension.php

	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Integration/NetteSecurityIntegration.php

		-
			message: "#^Call to deprecated method formatPhp\\(\\) of class Nette\\\\DI\\\\ContainerBuilder\\.$#"
			count: 2
			path: src/DI/SentryExtension24.php
